<script type="text/javascript">
  $(document).ready(function(){
        $('.parallax').parallax();
      });
</script>
<div class="parallax-container">
  <div class="parallax" id="companyNameParralax"><center><h1 id="companyName">Chef Edgar</h1></center></div>
</div>
<nav>
   <div class="nav-wrapper" id="menuNav">
     <!-- <a href="#!" class="brand-logo center">Logo</a> -->
     <ul class="brand-logo center" id="menuList">
       <li class="active"><a href="/">About</a></li>
       <li><a href="#/chef">Chef</a></li>
       <li><a href="#/menu">Menu</a></li>
       <li><a href="#/gallery">Gallery</a></li>
       <li><a href="#/press">Press</a></li>
       <li><a href="#/contact">Contact</a></li>
     </ul>
   </div>
 </nav>
 <div class="parallax-container" id="foodContainer">
   <div class="parallax"><img src="/static/media/scallops.jpg"  class="responsive-image" id="foodPic" /></div>
 </div>
 <div class="parallax-container" id="aboutParralax">
   <div class="parallax"><img src="/static/media/scallops.jpg" class="responsive-image" id="foodPic" /></div>
   <div id="aboutText">
     <h3>About</h3>
     <p id="aboutParagraph">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut metus semper, bibendum est sed, cursus tortor. Curabitur eleifend vestibulum dui ac pulvinar. Aliquam nec sapien eu velit cursus pulvinar ut at leo. Suspendisse potenti. Nam rhoncus odio purus, sed dictum nunc tempus in. Nunc ut mauris sit amet libero consequat dignissim. Maecenas pulvinar eget augue ut posuere. Vestibulum eu elementum ligula. Curabitur iaculis ultricies nibh, sit amet vulputate ligula volutpat non. Quisque maximus, sem id congue maximus, lectus eros cursus leo, ac consequat lectus lacus ut mauris. Nulla ornare magna et bibendum pharetra. Ut semper erat nec enim pharetra vulputate. Integer sollicitudin volutpat fringilla. Sed sit amet iaculis dolor. Ut cursus dolor ac rhoncus varius. Sed mollis lacus quis felis lobortis, quis vestibulum turpis luctus.

       Ut non tellus blandit, ullamcorper purus vitae, efficitur dui. Etiam semper metus eget dolor posuere vehicula id et arcu. Sed lobortis cursus convallis. Sed vulputate tempor nunc, et commodo erat eleifend at. Nullam porttitor nec sem quis imperdiet. Morbi vitae massa ut nunc tempus malesuada a nec enim. Cras ultricies congue dolor a facilisis. Suspendisse dictum ullamcorper mauris quis convallis. Cras in efficitur risus. Curabitur varius leo est, consectetur facilisis dolor sagittis non. Quisque a consequat nisi. Cras blandit, lacus et tincidunt feugiat, nunc purus mollis leo, id sodales erat elit aliquam risus. Nunc mollis lacus vel massa suscipit convallis. Aenean dignissim, quam non placerat lacinia, orci nisi varius libero, eu bibendum est ligula eu nisl. Fusce ac sagittis mi. In libero sapien, porta eget diam viverra, elementum tristique risus.
     </p>
   </div>
   <div id="aboutReserve" class="pull-right">
     <p id="restaurantInfo">
       575 Mission St.</br>
       San Francisco, CA 95118</br></br>

       Open Evenings 5:00pm - 10:00pm</br>
       Last seating at 9:30pm</br>
       Call or book for reservation</br></br>

       Phone: (555)555-5555</br>
       Fax: (555)555- 5555</br>
       Email: someemail@email.com
     </p></br>
     <center><a class="waves-effect waves-light btn-large" id="reserveButton">Make Reservation</a></center>
   </div>
 </div>
